/* DESKTOP */

@media screen and (min-width: 1200px) {
    body {
        background: url(https://fondosmil.com/fondo/13559.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    main {
        margin-left: 200px;
        margin-right: 200px;
    }
}
