/* HEADER */
header {
    background-image: map-get($estilos, colorHeader);

    nav ul {
        justify-content: space-around;

        li {
            font-family: map-get($estilos, fuentePrincipal);
            animation: botones 1.5s ease 4s 1 normal forwards;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.2em;

                &:hover {
                    color: #fa2323;
                }
            }
        }
    }

    img {
        @extend %imagenCover;
        animation: logoInicio 3s ease 0s 1 normal forwards;
    }

    .fila-header {
        @include filaPropiedades(100%, true);
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header nav ul li a {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 992px) {
    header {
        position: sticky;
        top: 0px;
        z-index: 100;
    }
}

@media screen and (min-width: 992px) {
    header nav ul li {
        border: 2px solid rgb(255, 255, 255);
        border-radius: 15px;
        width: 120px;
    }
}
