/* HEADER */
header {
    background-image: map-get($estilos, colorHeader);

    nav li {
        font-family: map-get($estilos, fuentePrincipal);
        animation: botones 1.5s ease 4s 1 normal forwards;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 17px;
            padding: 0px 25px;

            &:hover {
                color: #fa2323;
            }
        }
    }
    nav img {
        width: 100%;
        animation: logoInicio 3s ease 0s 1 normal forwards;
    }
}

@media screen and (min-width: 1200px) {
    header {
        position: sticky;
        top: 0px;
        z-index: 100;

        nav ul li {
            border: 2px solid rgb(255, 255, 255);
            border-radius: 15px;
        }
    }
}
