$font: "Jost", sans-serif;

$estilos: (
    colorHeader: linear-gradient(to bottom, #1a1a1c, #2a2c2e),
    colorFooter: linear-gradient(to bottom, #29292c, #323338),
    fuentePrincipal: $font,
    colorMedio: #fcfafa,
);
