//SECCION INICIO INDEX

.box-imgRotativa {
    height: 250px;

    img {
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 576px) {
    .box-imgRotativa {
        height: 330px;
    }
}

@media screen and (min-width: 1200px) {
    .box-imgRotativa {
        height: 370px;

        img {
            border-radius: 20px;
        }
    }
}
