//SECCION INICIO

// INDEX
.box-imgRotativa {
    height: 230px;

    img {
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 1200px) {
    //INDEX
    .box-imgRotativa {
        height: 370px;

        img {
            border-radius: 20px;
        }
    }
}
