/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* MOBILE FIRST */

/* HEADER */
.header {
    background-image: linear-gradient(to bottom, #1a1a1c, #2a2c2e);
}

.navbar-nav li {
    font-family: 'Jost', sans-serif;
    animation: botones 1.5s ease 4s 1 normal forwards;
}

.navbar-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 0px 25px;
}

.navbar-nav li a:hover {
    color: #fa2323;
}

.header__boxLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: logoInicio 3s ease 0s 1 normal forwards;
}

/* MAIN - INDEX */

.box-imgRotativa {
    width: 100%;
    height: 200px;
}

.box-imgRotativa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-imgRotativa div {
    width: 100%;
    height: 100%;
}

/*SECCION MEDIO - INDEX*/

.seccion-medio {
    background-color: #ffffff;
}

.seccion-medio h1 {
    font-size: 35px;
    font-family: 'Jost', sans-serif;
    padding: 15px;
    margin: 5px;
}

.seccion-medio p {
    text-align: justify;
}

.box-inicio__boxImg,
.box-medio__boxImg,
.box-final__boxImg {
    width: 280px;
    height: 280px;
}

.box-inicio__boxImg img,
.box-medio__boxImg img,
.box-final__boxImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    transition: transform 1s;
}

.box-inicio__boxImg img:hover,
.box-medio__boxImg img:hover,
.box-final__boxImg img:hover {
    transform: scale(1.05, 1.05);
}

.box-telefono,
.box-whatsapp,
.box-ubicacion {
    height: 110px;
}

.box-whatsapp img,
.box-ubicacion img,
.box-telefono img {
    height: 100%;
}

/* SECCION MEDIO - PRODUCTOS */

.box-productos {
    height: 200px;
}

.box-productos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s;
}

.box-productos img:hover {
    transform: scale(1.03, 1.03);
}

.fila {
    width: 90%;
}

.alta img {
    height: 200px;
}


/* GALERIA HTML*/

.fila iframe {
    height: 200px;
}

.box-card img {
    height: 250px;
}

/*MARCAS HTML*/

.box-marcas {
    width: 100%;
}

.box-marcas img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* CONTACTO HTML */

.prueba p {
    text-align: center;
    font-size: 0.8em;
}

.input-nombre,
.input-correo {
    width: 100%;
    outline: none;
}

.input-asunto,
.input-textArea {
    width: 100%;
    outline: none;
}

.input-textArea {
    border-style: dotted;
    resize: none;
}

.input-textArea:focus,
.input-nombre:focus,
.input-correo:focus,
.input-asunto:focus {
    border-bottom: 1px solid rgb(168, 56, 56);
}

.boton {
    width: 40%;
}

.boton:hover {
    color: #fff;
    background-color: #464852;
}

/* FOOTER */

footer {
    background-image: linear-gradient(to bottom, #29292c, #323338);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.seccion-footer h5 {
    font-size: 20px;
    font-weight: bold;
}

.seccion-footer p {
    margin-bottom: 0px;
}

.footer-whatsapp {
    width: 60px;
    height: 60px;
}

.footer-whatsapp img,
.box-twitter img,
.box-instagram img,
.box-facebook img {
    height: 100%;
}

.box-redes {
    width: 40%;
}

.box-twitter,
.box-instagram,
.box-facebook {
    height: 30px;
}

.box-redes__twitter,
.box-redes__instagram,
.box-redes__facebook {
    width: 40%;
    height: auto;
}

/* ANIMACION LOGO */
@keyframes logoInicio {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ANIMACION BOTONES INICIO */
@keyframes botones {
    0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
    }

    10% {
        animation-timing-function: ease-in;
        transform: scale(0.91);
    }

    17% {
        animation-timing-function: ease-out;
        transform: scale(0.98);
    }

    33% {
        animation-timing-function: ease-in;
        transform: scale(0.87);
    }

    45% {
        animation-timing-function: ease-out;
        transform: scale(1);
    }
}

/* DESKTOP */

@media screen and (min-width: 1200px) {
    body {
        background: url(https://fondosmil.com/fondo/13559.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* HEADER */

    .header {
        position: sticky;
        top: 0px;
        z-index: 100;
    }

    .navbar-nav li {
        font-family: 'Jost', sans-serif;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 15px;
    }

    /* MAIN -INDEX */

    main {
        margin-left: 200px;
        margin-right: 200px;
    }

    .box-imgRotativa {
        width: 100%;
        height: 350px;
    }

    .box-imgRotativa img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .box-imgRotativa div {
        width: 100%;
        height: 100%;
    }

    /*SECCION MEDIO - INDEX*/

    .seccion-medio {
        background-color: #fcfafa;
        border-radius: 15px;
    }

    .seccion-medio h1 {
        font-size: 45px;
        margin-top: 10px;
    }

    .box-inicio__boxImg,
    .box-medio__boxImg,
    .box-final__boxImg {
        width: 250px;
        height: 250px;
        margin: 0px auto;
    }

    /* FOOTER */

    footer {
        height: auto;
    }

    .seccion-footer {
        width: 80%;
    }

    /* PRODUCTOS HTML */

    .alta img {
        height: 400px;
    }

    .box-productos {
        background-color: #fcfafa;
    }

    .box-productos__boxImg {
        background-color: #fcfafa;
        width: 100%;
        height: 100%;
    }

    /* GALERIA HTML */

    .box-card img {
        height: 250px;
    }

    .fila iframe {
        width: 100%;
        height: 400px;
    }

    /* MARCAS HTML */

    .box-marcas {
        width: 90%;
    }

    /* CONTACTO HTML */

    .input-nombre,
    .input-correo,
    .input-asunto {
        border: none;
        border-bottom: 2px solid rgb(168, 56, 56);
        outline: none;
        background-color: #fcfafa;
    }

    .input-textArea {
        background-color: #fcfafa;
        height: 120px;
    }

    .input-textArea:focus,
    .input-nombre:focus,
    .input-correo:focus,
    .input-asunto:focus {
        border: none;
        border-bottom: 2px solid rgb(168, 56, 56);
    }

    .boton {
        padding: 6px 10px;
        background-color: #c3bebe;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        font-size: 13px;
    }

    .boton:hover {
        color: #fff;
        background-color: #464852;
    }

    .local p{
        text-align: center;
        font-size: 0.8em;
    }

    .fila iframe {
        height: 380px;
    }
}